

.view4-main{
    margin-top:5rem;
    margin-bottom:10rem;

}

.view4-r-bg{
    background-image: url("/public/Asset\ 1.svg");
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: 100%; */
}

.accordian-title{
    background-color: rgb(1, 62, 2);
}

.faq-tile{
    text-align: left;
}

.accordian-box{
    margin-top: 2rem;
}