.viewtype-1{
    height: 90vh;
    color: white;
}

.viewtype-dark{
    color: white;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.viewtype-2{
    height: 90vh;
}

.view1-title{
    font-family: SF-bold;
    font-size: 60px;
    line-height: 3.5rem;
    color: white;
}

.view1-center{
    text-align: center;
}


.viewtype-subtitle{
    font-family: SF-bold;
    font-size: 30px;
    line-height: 2.5rem;
    margin-bottom: 0px;
}

.viewtype-subtitle3{
    font-family: SF-bold;
    font-size: 20px;
    line-height: 2.5rem;
    margin-bottom: 0px;
}

.viewtype-subtitle2{
    font-family: SF-Regular;
    font-size: 20px;
    line-height: 0rem;
    margin-top: 2rem;
}

.dark-overlay{
    background-color: rgba(0,0,0,0.3);
}

.atlasIcon{
    /* width: 45vw; */
    
}

.home-bg{
    /* background-image: radial-gradient(#094f0d, #052c10); */
	/* background: linear-gradient(-45deg, #094f0d, #052c10, #0f3034, #0a3e32); */
    background: radial-gradient(closest-side, #094f0d, #052c10, #0f3034, #0a3e32);
    /* background-image: url("./components/img/space.jpg"); */
    /* opacity: 0.5; */
    background-size: 400% 400%;
	animation: gradient 30s ease infinite;

    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -10;
}

@keyframes gradient {
	0% {
		background-position: 0% 25%;
	}
	35% {
		background-position: 50% 25%;
	}
    75% {
		background-position: 50% 0%;
	}
	100% {
		background-position: 0% 25%;
	}
}