.viewtype-1{
    height: 90vh;
    color: white;
}

.viewtype-dark{
    color: white;
    margin-top: 5rem;
}

.viewtype-2{
    height: 90vh;
    margin-top: 6rem;

}

.view1-title{
    font-family: SF-bold;
    font-size: 60px;
    line-height: 3.5rem;
}

.view1-center{
    text-align: center;
}


.viewtype-subtitle{
    font-family: SF-bold;
    font-size: 30px;
    line-height: 2.5rem;
    margin-bottom: 0px;
}

.viewtype-subtitle3{
    font-family: SF-bold;
    font-size: 20px;
    line-height: 2.5rem;
    margin-bottom: 0px;
}

.viewtype-subtitle2{
    font-family: SF-Regular;
    font-size: 20px;
    line-height: 0rem;
    margin-top: 2rem;
}

.dark-overlay{
    background-color: rgba(0,0,0,0.3);
}

.atlasIcon{
    width: 45vw;
    
}

.home-bg{
    background-image: radial-gradient(#094f0d, #052c10);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -10;
}