.view4-textbox {
    margin-top:3rem;
}

.view4-main{
    margin-top:5rem;
    margin-bottom:10rem;

}

.view4-r-bg{
    background-image: url("/public/Asset\ 1.svg");
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: 100%; */
}