.navbar{
    background-color: red;
    height: 10vh;
}

.insl-logo{
    height: 8vh;
}

.logo-box{
    margin-left: 2rem;
}

.nav-btn{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0px !important;
}

.no-bot-margin{
    margin-bottom: 0px !important;
}

.nav-array{

    margin-right: 2rem;
    margin-left: auto;
}