
.partnercard{
    /* background-color:rgb(31, 76, 49); */
    background: rgb(0,65,41);
    background: linear-gradient(54deg, rgba(0,65,41,1) 0%, rgba(0,83,75,1) 100%); 
    border-radius: 15px;
    padding: 2rem;
    margin: 2rem;
    min-height: 26rem;
}


.viewtype-subtitle-partner{
    font-family: SF-bold;
    font-size: 25px;
    /* line-height: 2.5rem; */
    margin-bottom: 0px;
}

.viewtype-subtitle-partner-2{
    font-family: SF-Regular;
    font-size: 16px;
    margin-top: 2rem;
}

.partner-logo{
    /* background-color:rgb(0, 0, 0); */
    height: 12rem;
    display: flex;
}
.partner-type{

}
.year-card-body{
    /* text-align: justify; */
}