body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "SF-bold";
  src: local("SF-bold"),
    url("./fonts/SF-Pro-Display-Bold.otf") format("opentype") ;
}

@font-face {
  font-family: "SF-regular";
  src: local("SF-regular"),
  url("./fonts/SF-Pro-Text-Regular.otf") format("opentype") ;
}
